.front-signin.js-front-signin
  form.t1-form.signin(action="https://twitter.com/sessions", method="post")
    .username.field
      input.text-input.email-input(
        type="text"
        id="signin-email"
        name="session[username_or_email]"
        autocomplete="on"
        placeholder="Email oder Benutzername"
      )
    table.flex-table.password-signin
      tbody
        tr
          td.flex-table-primary
            .password.flex-table-form
              input.text-input.flex-table-input(type="password", id="signin-password", name="session[password]", placeholder="Passwort")
          td.flex-table-secondary
            button.submit.btn.primary-btn.flex-table-btn.js-submit(type="Absenden") Anmelden

    .remember-forgot
      label.t1-label.remember
        input(type="checkbox", value="1", name="remember_me")
        span Vergiss mich nicht
      span.separator &middot;
      a.forgot(href="/account/begin_password_reset") Passwort vergessen?
